mixin coupon(options)
  div.coupon
    div.coupon__content
      label.coupon__title= options.title
      label.coupon__description= options.description
      label.coupon__number= options.number
      label.coupon__type= options.type
    img.coupon__img(src=require('blocks' + "/coupon/image_" + options.img + ".png"))